*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #f8f9fa;
    padding-top: 50px;

}
nav{
    width: 71%;
    max-width: 1140px;
    height: 92px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;

}
nav .menu a{
    width: 365px;
    height: 24px;
    color: #000;
    text-decoration: none;

}
.btn{
    background-color:#30B868 ;
    border: 4px solid hsl(145, 59%, 45%);
    padding: 12px 16px;
    border-radius: 8px;
    color:white;
    font-weight: bold;
    cursor: pointer;
    
}

.section-heading{
    max-width: 827px;
    text-align: center;
    margin:0 auto;
}

.section-heading h1{
    font-size: 30px;
    margin-bottom: 16px;

}
.section-heading p{
    font-size: 18px;
    margin-bottom: 50px;
    color: #6c757d;
  
}


.banner{
    position: relative;
  width: 100%;
  height: 400px;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-content{
    position: absolute;
    top: 50%;
    left: 30%;
    height: auto;
    width: auto;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: center;
    font-size: large;
    font width: border;
}
.banner-content h1{
  color: white;
  text-decoration: none;
  background: 
  padding: 10px 20px;
  margin-top: 15px;
}
.color-green{
    color:#30B868
}
#banner .banner-content .btn1{
    background-color:white;
    padding: 12px 16px;
    border-radius: 8px;
    color:transparent
    font-weight: bold;
}
#banner .banner-content .btn2{
    background-color:transparent;
    padding: 12px 16px;
    border-radius: 8px;
    color:white;
    font-weight: bold;
}
#banner .banner-content p{
    color:white;
    padding: 10px;
}
#about{
    padding-top: 50px;
}
#about .about-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgb(230, 242, 252);

}
#about .about-container .about-info{
    display: flex;
    justify-content: space-around;

}
.about-info .about-card p{
    font-size: 20px;
    margin: bottom 18px;
    color: #6c757d;}


#about .about-container .section-heading p{
    margin-top: 5px;
    margin-bottom: 50px;
    font-size: 15px;
}

#skills{
    padding-top: 50px;

}
#skills .skills-container{
    width: 71%;
    max-width: 1140px;
    margin: 0 auto;
    
}
#skills .skills-container .skills-box{
    display: flex;
    gap: 30px;

}
.skills-box .skills-card{
    padding:30px ;
    box-shadow: 0 6px 50px 0 #00000091;
    max-width: 267px;


}
.skills-card img{
    max-width: 42px;
    margin-bottom: 30px;
    background-color: rgb(245, 2, 2);
    cursor: pointer;

}
.skills-card h3{
    font-size: 20px;
    color:#181818;
    margin-bottom: 20px;
    cursor: pointer;
}
.skills-card p{
    font-size: 16px;
    color: #757575;
    line-height: 28px;
    cursor: pointer;
    
}
.second-brain h6{
   padding-top: 20px;
    font-size: 14px;
    margin: 0 auto;
    text-align: center;}

#hero{
    margin: 80px 10px 10px 50px;
    display: flex;
    text-align: 0 auto;
justify-content: space-between;
align-items: center;
vertical-align: middle;

}
#hero .hero-content{
    max-width: 585px;
}

#hero .hero-content h6{
    text-align: auto;
    font-size: 14px;
    font-weight: 600px;
    color: #30B868;
    margin-bottom: 5px;


}
#hero .hero-content h1{
    font-size:45px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20;

}
#hero .hero-content p{
    font-size: 15px;
    color: #6c757d;
    margin-bottom: 30px;
}
#hero .hero-content .ul{
    list-style: none;
    padding: 0;
    margin: 0;