*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #f8f9fa;
    padding-top: 50px;

}
nav{
    width: 71%;
    max-width: 1140px;
    height: 92px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}
nav .menu{
    display: flex;
    list-style: none;
    gap: 32px;
    align-items: center;

}
nav .menu a{
    width: 365px;
    height: 24px;
    color: #000;
    text-decoration: none;

}
.btn{
    background-color:#30B868 ;
    border: 4px solid hsl(145, 59%, 45%);
    padding: 12px 16px;
    border-radius: 8px;
    color:white;
    font-weight: bold;
}
.banner{
    position: relative;
  width: 100%;
  height: 400px;
}
.banner img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.banner-content{
    position: absolute;
    top: 50%;
    left: 20%;
    height: auto;
    width: auto;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: center;
}
.banner-content h1{
  color: white;
  text-decoration: none;
  background: 
  padding: 10px 20px;
  margin-top: 15px;
}
.color-green{
    color:#30B868
}
#banner .banner-content .btn1{
    background-color:transparent;
    padding: 12px 16px;
    border-radius: 8px;
    color:white;
    font-weight: bold;
}
